<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="54989IsmaelEstalayoMena.CoinBaseUnofficial" Publisher="CN=CE0D17DE-AC9B-4B2D-AE14-FFACDE33BF50" Version="4.4.0.0" />
  <mp:PhoneIdentity PhoneProductId="513801eb-40f0-470e-9b23-ed3f9bab18dd" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CryptoTracker</DisplayName>
    <PublisherDisplayName>Ismael Estalayo Mena</PublisherDisplayName>
    <Logo>Assets\Tiles and stuff\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CryptoTracker.App">
      <uap:VisualElements DisplayName="CryptoTracker" Square150x150Logo="Assets\Tiles and stuff\Square150x150Logo.png" Square44x44Logo="Assets\Tiles and stuff\Square44x44Logo.png" Description="UWP to keep track of the crypto-market."  BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Tiles and stuff\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles and stuff\Wide310x150Logo.png" Square71x71Logo="Assets\Tiles and stuff\SmallTile.png" Square310x310Logo="Assets\Tiles and stuff\LargeTile.png" ShortName="CryptoTracker">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Tiles and stuff\SplashScreen.png" BackgroundColor="#1E1E1E" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>