<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5">
	<Identity Name="54989IsmaelEstalayoMena.CoinBaseUnofficial" Publisher="CN=CE0D17DE-AC9B-4B2D-AE14-FFACDE33BF50" Version="5.1.0.0" />
	<PhoneIdentity PhoneProductId="9555542a-b2a3-4742-83ff-1a9b2ec43102" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
	<Properties>
		<DisplayName>
			CryptoTracker
		</DisplayName>
		<PublisherDisplayName>
			Ismael Estalayo Mena
		</PublisherDisplayName>
		<Logo>
			Assets\Tiles and stuff\PackageLogo.png
		</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CryptoTracker.App">
			<VisualElements DisplayName="CryptoTracker" Square44x44Logo="Assets\Tiles and stuff\AppIcon.png" Description="Keep track of your crypto portfolios and the latest news." BackgroundColor="transparent" Square150x150Logo="Assets\Tiles and stuff\Tile-Medium.png">
				<LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Tiles and stuff\BadgeLogo.png" />
				<DefaultTile Wide310x150Logo="Assets\Tiles and stuff\Tile-Wide.png" Square71x71Logo="Assets\Tiles and stuff\Tile-Small.png" Square310x310Logo="Assets\Tiles and stuff\Tile-Large.png" ShortName="CryptoTracker">
					<ShowNameOnTiles>
						<ShowOn Tile="square150x150Logo" />
					</ShowNameOnTiles>
				</DefaultTile>
				<SplashScreen Image="Assets\Tiles and stuff\SplashScreen.png" BackgroundColor="#232323" uap5:Optional="true" />
				<InitialRotationPreference>
					<Rotation Preference="portrait" />
					<Rotation Preference="landscape" />
				</InitialRotationPreference>
			</VisualElements>
		</Application>
	</Applications>
	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>
