<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="dd4e8798-dbca-4c57-8222-8b8cfc549bb4" Publisher="CN=ismae" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="dd4e8798-dbca-4c57-8222-8b8cfc549bb4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>GDAX</DisplayName>
    <PublisherDisplayName>ismae</PublisherDisplayName>
    <Logo>Assets\Tiles and stuff\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CoinBase.App">
      <uap:VisualElements DisplayName="CoinBase" Square150x150Logo="Assets\Tiles and stuff\Square150x150Logo.png" Square44x44Logo="Assets\Tiles and stuff\Square44x44Logo.png" Description="CoinBase app made with GDAX C# API" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Tiles and stuff\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles and stuff\Wide310x150Logo.png" Square71x71Logo="Assets\Tiles and stuff\SmallTile.png" Square310x310Logo="Assets\Tiles and stuff\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Tiles and stuff\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>